<form #registerForm="ngForm" (submit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Zarejstruj</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="email" 
        [(ngModel)]="model.email" placeholder="Email">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" name="password" 
        [(ngModel)]="model.password" placeholder="Hasło">
    </div>
    <!-- <div class="form-group">
        <label>Favorite user? </label>
        <select class="form-control">
            <option *ngFor="let user of usersFromRegisterComponent" [value]="user.email">{{user.email}}</option>
        </select>
    </div> -->
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Zarejstruj</button>
        <button class="btn btn-info" (click)="cancel()">Anuluj</button>
    </div>
</form>