
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Documenting Poland</a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="loggedIn">
            <a class="nav-link" href="#">Wpisy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dodaj</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="loggedIn" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>Witaj User</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Kolejka Wpisów</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Wyloguj</a>
          </div>
        </div>



        <form *ngIf="!loggedIn" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off" >
          <input
            name="email"
            [(ngModel)]="model.email"
            class="form-control mr-sm-2" 
            type="search" 
            placeholder="Email">
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2" 
            type="password" 
            placeholder="Password">
          <button class="btn btn-outline-success" type="submit">Zaloguj</button>
        </form>
      </div>
    </div>
  </nav>
